<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695815075732-e4ms31l3b83k13erquu5ab10imhfuail.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695815075732-e4ms31l3b83k13erquu5ab10imhfuail</string>
	<key>API_KEY</key>
	<string>AIzaSyBVqikAwqC9C82gHqVRQtoZgd0TG2vjlTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>695815075732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christian.Varisty</string>
	<key>PROJECT_ID</key>
	<string>varsity-4528f</string>
	<key>STORAGE_BUCKET</key>
	<string>varsity-4528f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695815075732:ios:d47d6786a5223d05368181</string>
</dict>
</plist>